<%= link_to "Add a new attraction", new_attraction_path %>

<ul class="attractions">
	<% @attractions.each do |attraction| %>
		
			<li>

				<%= attraction.name %>
				<%= attraction.id %>
				<%= attraction.travelguide.destination %>
			</li>
		
	
	<% end %>
</ul>	

